[Desktop Entry]
Type=Application
Name=Geneious Prime
Exec="/var/home/iaacornus/.Geneious_Prime/Geneious Prime" %U
Icon=/var/home/iaacornus/.Geneious_Prime/.install4j/Geneious Prime.png
Categories=Application;
StartupNotify=true
