[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/var/home/iaacornus/.local/bin/./jbrowse.AppImage
Name=JBrowse 2
Icon=/var/home/iaacornus/.local/share/icons/jbrowse.png
Name[en_US]=JBrowse 2
StartupNotify=true
