[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=toolbox -c fedora-toolbox-40 run jmol
Name=JMol
Icon=/var/home/iaacornus/.local/share/icons/jmol.svg
Name[en_US]=JMol
StartupNotify=true
