[Desktop Entry]
Version=
Encoding=UTF-8
Name=MEGA
GenericName=MEGA
Categories=Application;Utility;
Exec=toolbox -c fedora-toolbox-40 run mega
Icon=mega.png
Terminal=false
Type=Application
StartupNotify=true
