[Desktop Entry]
Name=RStudio
Comment=The most popular coding environment for R, built with love by Posit.
GenericName=R IDE
Keywords=Code; IDE; R
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=toolbox -c fedora-toolbox-40 run bash -c "rstudio || exit"
Icon=/var/home/iaacornus/.local/share/icons/rstudio.png
Name[en_US]=RStudio
StartupNotify=true
