[Desktop Entry]
Name=Tuta Mail
Comment=The desktop client for Tuta Mail, the secure e-mail service.
GenericName=Mail Client
Keywords=Email;E-mail
Exec="/var/home/iaacornus/.local/bin/tutanota.AppImage" %U
Terminal=false
Type=Application
Icon=tutanota-desktop
StartupWMClass=tutanota-desktop
MimeType=x-scheme-handler/mailto;
Categories=Network;
X-Tutanota-Version=270.250214.0
TryExec=/var/home/iaacornus/.local/bin/tutanota.AppImage