[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/var/home/iaacornus/.ugene/ugeneui
Name=Unipro UGENE
Icon=/var/home/iaacornus/.local/share/icons/ugene-s.png
Name[en_US]=Unipro UGENE
StartupNotify=true
