[Unit]
Description=Run freshclam weekly.
Wants=int_freshclam.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/freshclam
Restart=on-failure

[Install]
WantedBy=default.target
