[Unit]
Description=Run clamscan weekly.
Wants=int_clamscan.timer

[Service]
Type=oneshot
ExecStart=clamscan --infected --recursive --quiet --disable-cache --max-filesize=5M --max-recursion=6 --move=%h/.quarantine %h --exclude-dir="\.cache/" --exclude-dir="\.git/" --exclude-dir="venv/" --exclude-dir="\.mozilla/" --exclude-dir="\.vscode/" --exclude-dir="containers/"
Restart=on-failure

[Install]
WantedBy=timers.target
