[Unit]
Description=Run scan weekly and on boot.
Wants=int_clamscan.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/freshclam
ExecStart=/usr/bin/clamscan --infected --quiet --move=/var/home/iaacornus/.quarantine --recursive /var/home/iaacornus 
Restart=on-failure

[Install]
WantedBy=default.target
