[Unit]
Description=Setup VSCode settings and bindings.

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=bash $HOME/.local/bin/settings.sh

[Install]
WantedBy=default.target
