[Unit]
Description=Change the permission of docker socket.
After=multi-user.target
StartLimitBurst=0

[Service]
Type=oneshot
Restart=on-failure
ExecStart=chmod 777 /var/run/docker.sock

[Install]
WantedBy=multi-user.target
