*firefox/*/minidumps*
firefox/y6r42lsy.default-release/addons.json
*firefox/y6r42lsy.default-release/prefs.js
*/prefs.js
*.lz4
*.bin
*autofill*
*/bookmarkbackups/
*.sqlite
*broadcast-listeners.json
*/*/ExperimentStoreData.json
*/*/Telemetry.FailedProfileLocks.txt
*.db
*/crashes/*
*/datareporting*
*/extensions*
*/extension-store*
*/extension-store-menus*
*lock*
*/minidumps*
*/saved-telemetry*
*/security*
*session*
*settings*
*storage*
*.sqlite-wal
*/firefox/*.txt
*/weave*
*/firefox/*.ini
*/firefox/crashes
firefox/*/bookmarkbackups/
firefox/*/compatibility.ini
firefox/*/containers.json
firefox/*/crashes/
firefox/*/datareporting/
firefox/*/enumerate_devices.txt
firefox/*/extension-preferences.json
firefox/*/extensions/
firefox/*/gmp-gmpopenh264/
firefox/*/gmp-widevinecdm/
firefox/*/handlers.json
firefox/*/logins-backup.json
firefox/*/logins.json
firefox/*/pkcs11.txt
firefox/*/search.json.mozlz4
firefox/*/serviceworker.txt
firefox/*/shield-preference-experiments.json
firefox/*/signedInUser.json
firefox/*/synced-tabs.db-shm
firefox/*/synced-tabs.db-wal
firefox/*/times.json
firefox/*/user.js.bak
firefox/*/weave/
firefox/*/xulstore.json
*/prefs.js
