[Unit]
Description=Change the wallpaper based on the current time.
Wants=change-wallpaper.timer

[Service]
Type=simple
ExecStart=%h/.sys/change-wallpaper.sh

[Install]
WantedBy=default.target
